# Chapter 3 : pandas

# pandas DataFrames

In [1]:
import numpy as np
import scipy as sp
import pandas as pd

## Load the data file into data frame

In [2]:
from pandas.io.parsers import read_csv

df = read_csv("WHO_first9cols.csv")
print("Dataframe:\n", df)

Dataframe:
                       Country  CountryID  Continent  \
0                 Afghanistan          1          1
1                     Albania          2          2
2                     Algeria          3          3
3                     Andorra          4          2
4                      Angola          5          3
5         Antigua and Barbuda          6          4
6                   Argentina          7          5
7                     Armenia          8          2
8                   Australia          9          6
9                     Austria         10          2
10                 Azerbaijan         11          2
11                    Bahamas         12          4
12                    Bahrain         13          1
13                 Bangladesh         14          7
14                   Barbados         15          4
15                    Belarus         16          2
16                    Belgium         17          2
17                     Belize         18          5
18                      Benin         19          3
19                    Bermuda         20          4
20                     Bhutan         21          7
21                    Bolivia         22          5
22     Bosnia and Herzegovina         23          2
23                   Botswana         24          3
24                     Brazil         25          5
25          Brunei Darussalam         26          6
26                   Bulgaria         27          2
27               Burkina Faso         28          3
28                    Burundi         29          3
29                   Cambodia         30          7
..                        ...        ...        ...
172                 Swaziland        173          3
173                    Sweden        174          2
174               Switzerland        175          2
175                     Syria        176          1
176                    Taiwan        177          6
177                Tajikistan        178          2
178                  Tanzania        179          3
179                  Thailand        180          6
180               Timor-Leste        181          6
181                      Togo        182          3
182                     Tonga        183          6
183       Trinidad and Tobago        184          5
184                   Tunisia        185          1
185                    Turkey        186          2
186              Turkmenistan        187          2
187                    Tuvalu        188          6
188                    Uganda        189          3
189                   Ukraine        190          2
190      United Arab Emirates        191          1
191            United Kingdom        192          2
192  United States of America        193          4
193                   Uruguay        194          5
194                Uzbekistan        195          2
195                   Vanuatu        196          6
196                 Venezuela        197          5
197                   Vietnam        198          6
198        West Bank and Gaza        199          1
199                     Yemen        200          1
200                    Zambia        201          3
201                  Zimbabwe        202          3

     Adolescent fertility rate (%)  Adult literacy rate (%)  \
0                            151.0                     28.0
1                             27.0                     98.7
2                              6.0                     69.9
3                              NaN                      NaN
4                            146.0                     67.4
5                              NaN                      NaN
6                             62.0                     97.2
7                             30.0                     99.4
8                             16.0                      NaN
9                             14.0                      NaN
10                            31.0                     98.8
11                            46.0                      NaN
12                            14.0                     86.5
13                           135.0                     47.5
14                            51.0                      NaN
15                            22.0                     99.6
16                             5.0                      NaN
17                            90.0                     70.3
18                           108.0                     34.7
19                             NaN                      NaN
20                            62.0                      NaN
21                            97.0                     86.7
22                            25.0                     96.7
23                            51.0                     81.2
24                            71.0                     88.6
25                            31.0                     92.7
26                            40.0                     98.2
27                           131.0                     23.6
28                            30.0                     59.3
29                            52.0                     73.6
..                             ...                      ...
172                           73.0                     79.6
173                            7.0                      NaN
174                            5.0                      NaN
175                           58.0                     80.8
176                            NaN                      NaN
177                           57.0                     99.5
178                          139.0                     69.4
179                           70.0                     92.6
180                           49.0                      NaN
181                           89.0                     53.2
182                           17.0                     98.9
183                           35.0                     98.5
184                            8.0                     74.3
185                           51.0                     87.4
186                           29.0                     98.8
187                            NaN                      NaN
188                          159.0                     68.1
189                           29.0                     99.4
190                           37.0                     88.5
191                           27.0                      NaN
192                           43.0                      NaN
193                           64.0                     96.8
194                           40.0                      NaN
195                           92.0                     75.5
196                           81.0                     93.0
197                           25.0                     90.3
198                            NaN                      NaN
199                           83.0                     54.1
200                          161.0                     68.0
201                          101.0                     89.5

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                               6000.0
2                                               5940.0
3                                                  NaN
4                                               3890.0
5                                              15130.0
6                                              11670.0
7                                               4950.0
8                                              33940.0
9                                              36040.0
10                                              5430.0
11                                                 NaN
12                                             34310.0
13                                              1230.0
14                                             15150.0
15                                              9700.0
16                                             33860.0
17                                              7080.0
18                                              1250.0
19                                                 NaN
20                                              4000.0
21                                              3810.0
22                                              6780.0
23                                             11730.0
24                                              8700.0
25                                             49900.0
26                                             10270.0
27                                              1130.0
28                                               320.0
29                                              1550.0
..                                                 ...
172                                             4700.0
173                                            34310.0
174                                            40840.0
175                                             4110.0
176                                                NaN
177                                             1560.0
178                                              980.0
179                                             7440.0
180                                             5100.0
181                                              770.0
182                                             5470.0
183                                            16800.0
184                                             6490.0
185                                             8410.0
186                                             3990.0
187                                                NaN
188                                              880.0
189                                             6110.0
190                                            31190.0
191                                            33650.0
192                                            44070.0
193                                             9940.0
194                                             2190.0
195                                             3480.0
196                                            10970.0
197                                             2310.0
198                                                NaN
199                                             2090.0
200                                             1140.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                             93.0
2                                             94.0
3                                             83.0
4                                             49.0
5                                              NaN
6                                             98.0
7                                             84.0
8                                             97.0
9                                             98.0
10                                            83.0
11                                            89.0
12                                            98.0
13                                            90.0
14                                            96.0
15                                            88.0
16                                            97.0
17                                            97.0
18                                            73.0
19                                             NaN
20                                            79.0
21                                            95.0
22                                             NaN
23                                            85.0
24                                            95.0
25                                            94.0
26                                            92.0
27                                            42.0
28                                            73.0
29                                            89.0
..                                             ...
172                                           79.0
173                                           95.0
174                                           89.0
175                                           92.0
176                                            NaN
177                                           95.0
178                                           97.0
179                                           94.0
180                                           67.0
181                                           75.0
182                                           94.0
183                                           85.0
184                                           97.0
185                                           89.0
186                                            NaN
187                                            NaN
188                                            NaN
189                                           90.0
190                                           88.0
191                                           99.0
192                                           93.0
193                                          100.0
194                                           78.0
195                                           86.0
196                                           91.0
197                                           91.0
198                                            NaN
199                                           65.0
200                                           94.0
201                                           88.0

     Net primary school enrolment ratio male (%)  \
0                                            NaN
1                                           94.0
2                                           96.0
3                                           83.0
4                                           51.0
5                                            NaN
6                                           99.0
7                                           80.0
8                                           96.0
9                                           97.0
10                                          86.0
11                                          87.0
12                                          98.0
13                                          87.0
14                                          97.0
15                                          90.0
16                                          97.0
17                                          97.0
18                                          87.0
19                                           NaN
20                                          79.0
21                                          94.0
22                                           NaN
23                                          83.0
24                                          93.0
25                                          94.0
26                                          93.0
27                                          52.0
28                                          76.0
29                                          91.0
..                                           ...
172                                         78.0
173                                         95.0
174                                         89.0
175                                         97.0
176                                          NaN
177                                         99.0
178                                         98.0
179                                         94.0
180                                         70.0
181                                         86.0
182                                         97.0
183                                         85.0
184                                         96.0
185                                         93.0
186                                          NaN
187                                          NaN
188                                          NaN
189                                         90.0
190                                         88.0
191                                         98.0
192                                         91.0
193                                        100.0
194                                         79.0
195                                         88.0
196                                         91.0
197                                         96.0
198                                          NaN
199                                         85.0
200                                         90.0
201                                         87.0

     Population (in thousands) total
0                            26088.0
1                             3172.0
2                            33351.0
3                               74.0
4                            16557.0
5                               84.0
6                            39134.0
7                             3010.0
8                            20530.0
9                             8327.0
10                            8406.0
11                             327.0
12                             739.0
13                          155991.0
14                             293.0
15                            9742.0
16                           10430.0
17                             282.0
18                            8760.0
19                               NaN
20                             649.0
21                            9354.0
22                            3926.0
23                            1858.0
24                          189323.0
25                             382.0
26                            7693.0
27                           14359.0
28                            8173.0
29                           14197.0
..                               ...
172                           1134.0
173                           9078.0
174                           7455.0
175                          19408.0
176                              NaN
177                           6640.0
178                          39459.0
179                          63444.0
180                           1114.0
181                           6410.0
182                            100.0
183                           1328.0
184                          10215.0
185                          73922.0
186                           4899.0
187                             10.0
188                          29899.0
189                          46557.0
190                           4248.0
191                          60512.0
192                         302841.0
193                           3331.0
194                          26981.0
195                            221.0
196                          27191.0
197                          86206.0
198                              NaN
199                          21732.0
200                          11696.0
201                          13228.0

[202 rows x 9 columns]

In [3]:
print("Shape:\n", df.shape)
print("\n")
print("Length:\n", len(df))
print("\n")
print("Column Headers:\n", df.columns)
print("\n")
print("Data types:\n", df.dtypes)
print("\n")
print("Index:\n", df.index)
print("\n")
print("Values:\n", df.values)

Shape:
 (202, 9)


Length:
 202


Column Headers:
 Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')


Data types:
 Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object


Index:
 RangeIndex(start=0, stop=202, step=1)


Values:
 [['Afghanistan' 1 1 ... nan nan 26088.0]
 ['Albania' 2 2 ... 93.0 94.0 3172.0]
 ['Algeria' 3 3 ... 94.0 96.0 33351.0]
 ...
 ['Yemen' 200 1 ... 65.0 85.0 21732.0]
 ['Zambia' 201 3 ... 94.0 90.0 11696.0]
 ['Zimbabwe' 202 3 ... 88.0 87.0 13228.0]]

# pandas Series

In [4]:
country_col = df["Country"]
print("Type df:\n", type(df), "\n")
print("Type country col:\n", type(country_col), "\n")

Type df:
 <class 'pandas.core.frame.DataFrame'>

Type country col:
 <class 'pandas.core.series.Series'>

In [5]:
print("Series shape:\n", country_col.shape, "\n")
print("Series index:\n", country_col.index, "\n")
print("Series values:\n", country_col.values, "\n")
print("Series name:\n", country_col.name, "\n")

Series shape:
 (202,)

Series index:
 RangeIndex(start=0, stop=202, step=1)

Series values:
 ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

Series name:
 Country

In [6]:
print("Last 2 countries:\n", country_col[-2:], "\n")
print("Last 2 countries type:\n", type(country_col[-2:]), "\n")

Last 2 countries:
 200      Zambia
201    Zimbabwe
Name: Country, dtype: object

Last 2 countries type:
 <class 'pandas.core.series.Series'>

In [7]:
last_col = df.columns[-1]
print("Last df column signs:\n", last_col, np.sign(df[last_col]), "\n")

Last df column signs:
 Population (in thousands) total 0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
7      1.0
8      1.0
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     1.0
18     1.0
19     NaN
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
      ...
172    1.0
173    1.0
174    1.0
175    1.0
176    NaN
177    1.0
178    1.0
179    1.0
180    1.0
181    1.0
182    1.0
183    1.0
184    1.0
185    1.0
186    1.0
187    1.0
188    1.0
189    1.0
190    1.0
191    1.0
192    1.0
193    1.0
194    1.0
195    1.0
196    1.0
197    1.0
198    NaN
199    1.0
200    1.0
201    1.0
Name: Population (in thousands) total, Length: 202, dtype: float64

In [8]:
np.sum([0, np.nan])

nan

In [9]:
df.dtypes

Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [10]:
print(np.sum(df[last_col] - df[last_col].values))

0.0

# Querying Data in pandas

In [12]:
import quandl

In [13]:
sunspots = quandl.get("SIDC/SUNSPOTS_A")

In [14]:
print("Head 2:\n", sunspots.head(2) )

Head 2:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               8.3                             NaN
1701-12-31                              18.3                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               1.0
1701-12-31                     NaN                               1.0

In [15]:
print("Tail 2:\n", sunspots.tail(2))

Tail 2:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2016-12-31                              39.8                             3.9
2017-12-31                              21.7                             2.6

            Number of Observations  Definitive/Provisional Indicator
Date
2016-12-31                  9940.0                               1.0
2017-12-31                 11020.0                               0.0

In [16]:
last_date = sunspots.index[-1]
print("Last value:\n",sunspots.loc[last_date])

Last value:
 Yearly Mean Total Sunspot Number       21.7
Yearly Mean Standard Deviation          2.6
Number of Observations              11020.0
Definitive/Provisional Indicator        0.0
Name: 2017-12-31 00:00:00, dtype: float64

In [17]:
print("Values slice by date:\n", sunspots["20020101": "20131231"])

Values slice by date:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9

            Number of Observations  Definitive/Provisional Indicator
Date
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0

In [18]:
print("Slice from a list of indices:\n", sunspots.iloc[[2, 4, -4, -2]])

Slice from a list of indices:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1702-12-31                              26.7                             NaN
1704-12-31                              60.0                             NaN
2014-12-31                             113.3                             8.0
2016-12-31                              39.8                             3.9

            Number of Observations  Definitive/Provisional Indicator
Date
1702-12-31                     NaN                               1.0
1704-12-31                     NaN                               1.0
2014-12-31                  5273.0                               1.0
2016-12-31                  9940.0                               1.0

In [19]:
print("Scalar with Iloc:", sunspots.iloc[0, 0])
print("Scalar with iat", sunspots.iat[1, 0])

Scalar with Iloc: 8.3
Scalar with iat 18.3

In [20]:
print("Boolean selection:\n", sunspots[sunspots > sunspots.mean()])

Boolean selection:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               NaN                             NaN
1701-12-31                               NaN                             NaN
1702-12-31                               NaN                             NaN
1703-12-31                               NaN                             NaN
1704-12-31                               NaN                             NaN
1705-12-31                              96.7                             NaN
1706-12-31                               NaN                             NaN
1707-12-31                               NaN                             NaN
1708-12-31                               NaN                             NaN
1709-12-31                               NaN                             NaN
1710-12-31                               NaN                             NaN
1711-12-31                               NaN                             NaN
1712-12-31                               NaN                             NaN
1713-12-31                               NaN                             NaN
1714-12-31                               NaN                             NaN
1715-12-31                               NaN                             NaN
1716-12-31                               NaN                             NaN
1717-12-31                             105.0                             NaN
1718-12-31                             100.0                             NaN
1719-12-31                               NaN                             NaN
1720-12-31                               NaN                             NaN
1721-12-31                               NaN                             NaN
1722-12-31                               NaN                             NaN
1723-12-31                               NaN                             NaN
1724-12-31                               NaN                             NaN
1725-12-31                               NaN                             NaN
1726-12-31                             130.0                             NaN
1727-12-31                             203.3                             NaN
1728-12-31                             171.7                             NaN
1729-12-31                             121.7                             NaN
...                                      ...                             ...
1988-12-31                             123.0                             8.4
1989-12-31                             211.1                            12.8
1990-12-31                             191.8                            11.2
1991-12-31                             203.3                            12.7
1992-12-31                             133.0                             8.9
1993-12-31                               NaN                             NaN
1994-12-31                               NaN                             NaN
1995-12-31                               NaN                             NaN
1996-12-31                               NaN                             NaN
1997-12-31                               NaN                             NaN
1998-12-31                              88.3                             NaN
1999-12-31                             136.3                             9.3
2000-12-31                             173.9                            10.1
2001-12-31                             170.4                            10.5
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             NaN
2004-12-31                               NaN                             NaN
2005-12-31                               NaN                             NaN
2006-12-31                               NaN                             NaN
2007-12-31                               NaN                             NaN
2008-12-31                               NaN                             NaN
2009-12-31                               NaN                             NaN
2010-12-31                               NaN                             NaN
2011-12-31                              80.8                             NaN
2012-12-31                              84.5                             NaN
2013-12-31                              94.0                             NaN
2014-12-31                             113.3                             8.0
2015-12-31                               NaN                             NaN
2016-12-31                               NaN                             NaN
2017-12-31                               NaN                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               1.0
1701-12-31                     NaN                               1.0
1702-12-31                     NaN                               1.0
1703-12-31                     NaN                               1.0
1704-12-31                     NaN                               1.0
1705-12-31                     NaN                               1.0
1706-12-31                     NaN                               1.0
1707-12-31                     NaN                               1.0
1708-12-31                     NaN                               1.0
1709-12-31                     NaN                               1.0
1710-12-31                     NaN                               1.0
1711-12-31                     NaN                               1.0
1712-12-31                     NaN                               1.0
1713-12-31                     NaN                               1.0
1714-12-31                     NaN                               1.0
1715-12-31                     NaN                               1.0
1716-12-31                     NaN                               1.0
1717-12-31                     NaN                               1.0
1718-12-31                     NaN                               1.0
1719-12-31                     NaN                               1.0
1720-12-31                     NaN                               1.0
1721-12-31                     NaN                               1.0
1722-12-31                     NaN                               1.0
1723-12-31                     NaN                               1.0
1724-12-31                     NaN                               1.0
1725-12-31                     NaN                               1.0
1726-12-31                     NaN                               1.0
1727-12-31                     NaN                               1.0
1728-12-31                     NaN                               1.0
1729-12-31                     NaN                               1.0
...                            ...                               ...
1988-12-31                  6556.0                               1.0
1989-12-31                  6932.0                               1.0
1990-12-31                  7108.0                               1.0
1991-12-31                  6932.0                               1.0
1992-12-31                  7845.0                               1.0
1993-12-31                  8010.0                               1.0
1994-12-31                  8524.0                               1.0
1995-12-31                  8429.0                               1.0
1996-12-31                  7614.0                               1.0
1997-12-31                  7294.0                               1.0
1998-12-31                  6353.0                               1.0
1999-12-31                  6413.0                               1.0
2000-12-31                  5953.0                               1.0
2001-12-31                  6558.0                               1.0
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0
2014-12-31                  5273.0                               1.0
2015-12-31                  8903.0                               1.0
2016-12-31                  9940.0                               1.0
2017-12-31                 11020.0                               NaN

[318 rows x 4 columns]

In [21]:
print("Boolean selection with column label:\n", sunspots[sunspots['Number of Observations'] > sunspots['Number of Observations'].mean()])

Boolean selection with column label:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1981-12-31                             198.9                            13.1
1982-12-31                             162.4                            12.1
1983-12-31                              91.0                             7.6
1984-12-31                              60.5                             5.9
1985-12-31                              20.6                             3.7
1986-12-31                              14.8                             3.5
1987-12-31                              33.9                             3.7
1988-12-31                             123.0                             8.4
1989-12-31                             211.1                            12.8
1990-12-31                             191.8                            11.2
1991-12-31                             203.3                            12.7
1992-12-31                             133.0                             8.9
1993-12-31                              76.1                             5.8
1994-12-31                              44.9                             4.4
1995-12-31                              25.1                             3.7
1996-12-31                              11.6                             3.1
1997-12-31                              28.9                             3.6
1998-12-31                              88.3                             6.6
1999-12-31                             136.3                             9.3
2000-12-31                             173.9                            10.1
2001-12-31                             170.4                            10.5
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9
2014-12-31                             113.3                             8.0
2015-12-31                              69.8                             6.4
2016-12-31                              39.8                             3.9
2017-12-31                              21.7                             2.6

            Number of Observations  Definitive/Provisional Indicator
Date
1981-12-31                  3049.0                               1.0
1982-12-31                  3436.0                               1.0
1983-12-31                  4216.0                               1.0
1984-12-31                  5103.0                               1.0
1985-12-31                  5543.0                               1.0
1986-12-31                  5934.0                               1.0
1987-12-31                  6396.0                               1.0
1988-12-31                  6556.0                               1.0
1989-12-31                  6932.0                               1.0
1990-12-31                  7108.0                               1.0
1991-12-31                  6932.0                               1.0
1992-12-31                  7845.0                               1.0
1993-12-31                  8010.0                               1.0
1994-12-31                  8524.0                               1.0
1995-12-31                  8429.0                               1.0
1996-12-31                  7614.0                               1.0
1997-12-31                  7294.0                               1.0
1998-12-31                  6353.0                               1.0
1999-12-31                  6413.0                               1.0
2000-12-31                  5953.0                               1.0
2001-12-31                  6558.0                               1.0
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0
2014-12-31                  5273.0                               1.0
2015-12-31                  8903.0                               1.0
2016-12-31                  9940.0                               1.0
2017-12-31                 11020.0                               0.0

# Statistics with pandas DataFrame

In [22]:
import quandl

# Data from http://www.quandl.com/SIDC/SUNSPOTS_A-Sunspot-Numbers-Annual
# PyPi url https://pypi.python.org/pypi/Quandl
sunspots = quandl.get("SIDC/SUNSPOTS_A")
print("Describe", sunspots.describe(),"\n")
print("Non NaN observations", sunspots.count(),"\n")
print("MAD", sunspots.mad(),"\n")
print("Median", sunspots.median(),"\n")
print("Min", sunspots.min(),"\n")
print("Max", sunspots.max(),"\n")
print("Mode", sunspots.mode(),"\n")
print("Standard Deviation", sunspots.std(),"\n")
print("Variance", sunspots.var(),"\n")
print("Skewness", sunspots.skew(),"\n")
print("Kurtosis", sunspots.kurt(),"\n")

Describe        Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
count                        318.000000                      200.000000
mean                          79.196855                        7.982500
std                           61.985539                        3.818567
min                            0.000000                        1.700000
25%                           24.950000                        4.700000
50%                           66.250000                        7.650000
75%                          116.025000                       10.425000
max                          269.300000                       19.100000

       Number of Observations  Definitive/Provisional Indicator
count              200.000000                        318.000000
mean              1515.440000                          0.996855
std               2548.854285                          0.056077
min                150.000000                          0.000000
25%                365.000000                          1.000000
50%                365.000000                          1.000000
75%                366.000000                          1.000000
max              11020.000000                          1.000000

Non NaN observations Yearly Mean Total Sunspot Number    318
Yearly Mean Standard Deviation      200
Number of Observations              200
Definitive/Provisional Indicator    318
dtype: int64

MAD Yearly Mean Total Sunspot Number      50.922167
Yearly Mean Standard Deviation         3.138625
Number of Observations              1907.287200
Definitive/Provisional Indicator       0.006270
dtype: float64

Median Yearly Mean Total Sunspot Number     66.25
Yearly Mean Standard Deviation        7.65
Number of Observations              365.00
Definitive/Provisional Indicator      1.00
dtype: float64

Min Yearly Mean Total Sunspot Number      0.0
Yearly Mean Standard Deviation        1.7
Number of Observations              150.0
Definitive/Provisional Indicator      0.0
dtype: float64

Max Yearly Mean Total Sunspot Number      269.3
Yearly Mean Standard Deviation         19.1
Number of Observations              11020.0
Definitive/Provisional Indicator        1.0
dtype: float64

Mode    Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
0                              18.3                             9.2

   Number of Observations  Definitive/Provisional Indicator
0                   365.0                               1.0

Standard Deviation Yearly Mean Total Sunspot Number      61.985539
Yearly Mean Standard Deviation         3.818567
Number of Observations              2548.854285
Definitive/Provisional Indicator       0.056077
dtype: float64

Variance Yearly Mean Total Sunspot Number    3.842207e+03
Yearly Mean Standard Deviation      1.458145e+01
Number of Observations              6.496658e+06
Definitive/Provisional Indicator    3.144654e-03
dtype: float64

Skewness Yearly Mean Total Sunspot Number     0.808657
Yearly Mean Standard Deviation       0.561499
Number of Observations               1.892803
Definitive/Provisional Indicator   -17.832555
dtype: float64

Kurtosis Yearly Mean Total Sunspot Number     -0.129808
Yearly Mean Standard Deviation       -0.249446
Number of Observations                2.082363
Definitive/Provisional Indicator    318.000000
dtype: float64

# Data Aggregation

In [23]:
import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import randint
import numpy as np

seed(42)

df = pd.DataFrame({'Weather' : ['cold', 'hot', 'cold', 'hot',
   'cold', 'hot', 'cold'],
   'Food' : ['soup', 'soup', 'icecream', 'chocolate',
   'icecream', 'icecream', 'soup'],
   'Price' : 10 * rand(7), 'Number' : randint(1, 9)})

print(df)

        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       8  9.507143     hot
2   icecream       8  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       8  1.559945     hot
6       soup       8  0.580836    cold

In [24]:
weather_group = df.groupby('Weather')

i = 0

for name, group in weather_group:
   i = i + 1
   print("Group", i, name)
   print(group)

Group 1 cold
       Food  Number     Price Weather
0      soup       8  3.745401    cold
2  icecream       8  7.319939    cold
4  icecream       8  1.560186    cold
6      soup       8  0.580836    cold
Group 2 hot
        Food  Number     Price Weather
1       soup       8  9.507143     hot
3  chocolate       8  5.986585     hot
5   icecream       8  1.559945     hot

In [25]:
print("Weather group first\n", weather_group.first())
print("Weather group last\n", weather_group.last())
print("Weather group mean\n", weather_group.mean())

Weather group first
          Food  Number     Price
Weather
cold     soup       8  3.745401
hot      soup       8  9.507143
Weather group last
              Food  Number     Price
Weather
cold         soup       8  0.580836
hot      icecream       8  1.559945
Weather group mean
          Number     Price
Weather
cold          8  3.301591
hot           8  5.684558

In [26]:
wf_group = df.groupby(['Weather', 'Food'])
print("WF Groups", wf_group.groups)

WF Groups {('cold', 'icecream'): Int64Index([2, 4], dtype='int64'), ('cold', 'soup'): Int64Index([0, 6], dtype='int64'), ('hot', 'chocolate'): Int64Index([3], dtype='int64'), ('hot', 'icecream'): Int64Index([5], dtype='int64'), ('hot', 'soup'): Int64Index([1], dtype='int64')}

In [27]:
print("WF Aggregated\n", wf_group.agg([np.mean, np.median]))

WF Aggregated
                   Number            Price
                    mean median      mean    median
Weather Food
cold    icecream       8      8  4.440063  4.440063
        soup           8      8  2.163119  2.163119
hot     chocolate      8      8  5.986585  5.986585
        icecream       8      8  1.559945  1.559945
        soup           8      8  9.507143  9.507143

# Concatenating and appending DataFrames

In [28]:
print("df :3\n", df[:3])

df :3
        Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       8  9.507143     hot
2  icecream       8  7.319939    cold

In [29]:
print("Concat Back together\n", pd.concat([df[:3], df[3:]]))

Concat Back together
         Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       8  9.507143     hot
2   icecream       8  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       8  1.559945     hot
6       soup       8  0.580836    cold

In [30]:
print("Appending rows\n", df[:3].append(df[5:]))

Appending rows
        Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       8  9.507143     hot
2  icecream       8  7.319939    cold
5  icecream       8  1.559945     hot
6      soup       8  0.580836    cold

# joining DataFrames

In [32]:
dests = pd.read_csv('dest.csv')
print("Dests\n", dests)

tips = pd.read_csv('tips.csv')
print("Tips\n", tips)

print("Merge() on key\n", pd.merge(dests, tips, on='EmpNr'))
print("Dests join() tips\n", dests.join(tips, lsuffix='Dest', rsuffix='Tips'))

print("Inner join with merge()\n", pd.merge(dests, tips, how='inner'))
print("Outer join\n", pd.merge(dests, tips, how='outer'))

Dests
    EmpNr       Dest
0      5  The Hague
1      3  Amsterdam
2      9  Rotterdam
Tips
    EmpNr  Amount
0      5    10.0
1      9     5.0
2      7     2.5
Merge() on key
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0
Dests join() tips
    EmpNrDest       Dest  EmpNrTips  Amount
0          5  The Hague          5    10.0
1          3  Amsterdam          9     5.0
2          9  Rotterdam          7     2.5
Inner join with merge()
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0
Outer join
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      3  Amsterdam     NaN
2      9  Rotterdam     5.0
3      7        NaN     2.5

# Handlng missing Values

In [34]:
df = pd.read_csv('WHO_first9cols.csv')
# Select first 3 rows of country and Net primary school enrolment ratio male (%)
df = df[['Country', df.columns[-2]]][:2]
print("New df\n", df)
print("Null Values\n", pd.isnull(df))
print("Total Null Values\n", pd.isnull(df).sum())
print("Not Null Values\n", df.notnull())
print("Last Column Doubled\n", 2 * df[df.columns[-1]])
print("Last Column plus NaN\n", df[df.columns[-1]] + np.nan)
print("Zero filled\n", df.fillna(0))

New df
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0
Null Values
    Country  Net primary school enrolment ratio male (%)
0    False                                         True
1    False                                        False
Total Null Values
 Country                                        0
Net primary school enrolment ratio male (%)    1
dtype: int64
Not Null Values
    Country  Net primary school enrolment ratio male (%)
0     True                                        False
1     True                                         True
Last Column Doubled
 0      NaN
1    188.0
Name: Net primary school enrolment ratio male (%), dtype: float64
Last Column plus NaN
 0   NaN
1   NaN
Name: Net primary school enrolment ratio male (%), dtype: float64
Zero filled
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          0.0
1      Albania                                         94.0

# dealing with dates

In [35]:
print("Date range", pd.date_range('1/1/1900', periods=42, freq='D'))

Date range DatetimeIndex(['1900-01-01', '1900-01-02', '1900-01-03', '1900-01-04',
               '1900-01-05', '1900-01-06', '1900-01-07', '1900-01-08',
               '1900-01-09', '1900-01-10', '1900-01-11', '1900-01-12',
               '1900-01-13', '1900-01-14', '1900-01-15', '1900-01-16',
               '1900-01-17', '1900-01-18', '1900-01-19', '1900-01-20',
               '1900-01-21', '1900-01-22', '1900-01-23', '1900-01-24',
               '1900-01-25', '1900-01-26', '1900-01-27', '1900-01-28',
               '1900-01-29', '1900-01-30', '1900-01-31', '1900-02-01',
               '1900-02-02', '1900-02-03', '1900-02-04', '1900-02-05',
               '1900-02-06', '1900-02-07', '1900-02-08', '1900-02-09',
               '1900-02-10', '1900-02-11'],
              dtype='datetime64[ns]', freq='D')

In [36]:
import sys
try:
   print("Date range", pd.date_range('1/1/1677', periods=4, freq='D'))
except:
   etype, value, _ = sys.exc_info()
   print("Error encountered", etype, value)

Error encountered <class 'pandas._libs.tslib.OutOfBoundsDatetime'> Out of bounds nanosecond timestamp: 1677-01-01 00:00:00

In [37]:
offset = pd.DateOffset(seconds=2 ** 33/10 ** 9)
mid = pd.to_datetime('1/1/1970')
print("Start valid range", mid - offset)
print("End valid range", mid + offset)

Start valid range 1969-12-31 23:59:51.410065
End valid range 1970-01-01 00:00:08.589935

In [38]:
print("With format", pd.to_datetime(['19021112', '19031230'], format='%Y%m%d'))

With format DatetimeIndex(['1902-11-12', '1903-12-30'], dtype='datetime64[ns]', freq=None)

In [39]:
print("Illegal date", pd.to_datetime(['1902-11-12', 'not a date']) )

ValueError: Unknown string format

In [40]:
print("Illegal date coerced", pd.to_datetime(['1902-11-12', 'not a date'], errors='coerce'))

Illegal date coerced DatetimeIndex(['1902-11-12', 'NaT'], dtype='datetime64[ns]', freq=None)

# Pivot Tables

In [41]:
seed(42)
N = 7
df = pd.DataFrame({
   'Weather' : ['cold', 'hot', 'cold', 'hot',
   'cold', 'hot', 'cold'],
   'Food' : ['soup', 'soup', 'icecream', 'chocolate',
   'icecream', 'icecream', 'soup'],
   'Price' : 10 * rand(N), 'Number' : randint(1, 9)})

In [42]:
print("DataFrame\n", df)

DataFrame
         Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       8  9.507143     hot
2   icecream       8  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       8  1.559945     hot
6       soup       8  0.580836    cold

In [43]:
print(pd.pivot_table(df, columns=['Food'], aggfunc=np.sum))

Food    chocolate   icecream      soup
Number   8.000000  24.000000  24.00000
Price    5.986585  10.440071  13.83338

In [51]:
import datetime
import pandas as pd
import pandas_datareader.data as web
## !!! here it is 'pandas_datareader' rather than 'pandas-datareader'

In [55]:
start = datetime.datetime(2016, 1, 1) # or start = '1/1/2016'
end = datetime.date.today()
prices = web.DataReader('F', 'morningstar', start, end)
print(prices.head())  # print first rows of the prices data

                   Close   High    Low   Open    Volume
Symbol Date
F      2016-01-01  14.09  14.09  14.09  14.09         0
       2016-01-04  13.97  14.00  13.75  13.87  38618524
       2016-01-05  13.72  14.00  13.51  13.97  50266484
       2016-01-06  13.11  13.56  13.05  13.56  61263777
       2016-01-07  12.70  13.04  12.60  12.90  57838021